@import "../../style/mixin.scss";

.block{

 display: flex;
 align-items: center;
 justify-content: space-between;
 @include fluid(margin-bottom, 25px, 50px);
}
.img{
 @include fluid(height, 720px, 900px);
 width: 30%;
 object-fit: contain;

}
.title{
@include fluid(font-size,100px, 233px);
 line-height: 80%;
 font-weight: 900;
 position: relative;
 color: #000000;
 text-transform: uppercase;
 letter-spacing: 0.1em;
 text-align: center;
 @include fluid(margin-bottom, 7px, 11px);
 width: fit-content;

 span{
  content: "";
  position: absolute;
  transform: translate(-50%,-50% );
  top: 50%;
  left: 50%;
  text-align: center;
  @include fluid(font-size,100px, 233px);
  line-height: 80%;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 4px #FFFC00;
  z-index: -1;
 }
}
.subtitle{
 font-weight: 400;
 @include fluid(font-size,18px, 25px);
 line-height: 120%;
 @include fluid(margin-bottom, 40px, 60px);
 text-align: center;
}
.pretext{
 @include fluid(font-size,22px, 28px);
 font-weight: 400;
 line-height: 120%;
 @include fluid(margin-bottom, 10px, 15px);
}
.text{
 @include fluid(font-size,22px, 28px);
 font-weight: 400;
 line-height: 120%;
 @include fluid(margin-bottom, 20px, 35px);
 }
.flex{
 display: flex;
 align-items: center;
justify-content: space-between;
}
.social{
display: flex;
 align-items: center;
 @include fluid(margin-bottom, 8px, 12px);
 
}
 .icon{
@include fluid(width, 30px, 40px);
  @include fluid(height, 30px, 40px);
  object-fit: contain;
  @include fluid(margin-right, 7px, 11px);
 }
 .socialText{
  @include fluid(font-size,18px, 28px);
  color: #fff;
  transition: .38s ease-in-out;
  &:hover{
   color: #FFFC00;
  }
  
 }
 .link{
  color: #fff;
  border: 3px solid #FFFC00;
  @include fluid(font-size,18px, 24px);
  font-weight: 400;
  transition: .38s ease-in-out;
  border-radius: 6px;
  @include fluid(padding-left, 15px, 25px);
  @include fluid(padding-right, 15px, 25px);
  @include fluid(padding-top, 10px, 20px);
  @include fluid(padding-bottom, 10px, 20px);
  &:hover{
   color: #FFFC00;
  }
 }